* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(235, 235, 235);
    background-color: #202020ff;
}

.header .namawebsite {
    text-align: center;
    margin: 15px;
    color: rgb(223, 223, 223);
}
.header h1 {
    font-size: 50px;
}

.navigasi {
    position: sticky;
    top: 0;
}
.navigasi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffd100ff;
}
.navigasi li {
    float: left;
    background-color: #00509dff;
}
.navigasi li a {
    display: block;
    color: rgb(235, 235, 235);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigasi li a:hover {
    color: #00509dff;
    background-color: #ffd100ff;
}

.penulis a {
    text-decoration: none;
    color: #ffd100ff;
}
.penulis a:hover {
    color: #00509dff;
}

.container::after {
    content: "";
    clear: both;
    display: table;
    width: 1000px;
}

.kolomkiri {
    float: left;
    width: 20%;
    padding: 20px;
}
.kolomutama {
    float: left;
    width: 60%;
    font-size: 16px;
    padding: 20px;
}
.kolomutama p {
    text-align: justify;
}
.kolomutama .gambar {
    text-align: center;
}
.kolomkanan {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}
.kolomkanan a {
    text-decoration: none;
    color: #ffd100ff;
}
.kolomkanan a:hover {
    color: #00509dff;
}

.footer {
    clear:both;
    padding:5px 10px;
}
.kategori {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer li {
display: list-item;
text-align: -webkit-match-parent;
}
.tag {
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 15px;
    border: 1px solid var(--br-list);
    color: black;
    background: #ffd100ff;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 1px;
    background-color:#333;
    color: rgb(235, 235, 235);
    display: block;
}
footer a {
    text-decoration: none;
    color: #ffd100ff;
}
footer a:hover {
    color: rgb(235, 235, 235);
}